## IDE
.vscode/
.idea/

## MacOs
.DS_*

## Node.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*

## dependencies
node_modules/
.pnp/
.pnp.js
.yarn

## testing
coverage/
junit-report.xml
sonar-report.xml
test-reports/
.features-gen/

## production
build/
dist/

## misc
*.local

## msw
/template/public/mockServiceWorker.js

/template/package-lock.json
